extends layout

block content
    h1= title
    p This is a sample NodeJS application and how it works. 
    p This site is built using NodeJS, JavaScript, SCSS, and the Jade templating language.
    p GulpJS is used as a build tool.