extends layout 

block content
    h2 Authors

    form(action="/newAuthor").pull-right
        button.btn.btn-primary
            span.glyphicon.glyphicon-plus 
            |   Add a new Author

    h3 The authors that are currently in our catalog
    table.table.table-striped.table-hover
        each author, i in authorlist
            tr
                td #{author.Author}