extends layout

block content
    h2= title

    form(action="/newBook").pull-right
        button.btn.btn-primary
            span.glyphicon.glyphicon-plus 
            |   Add a new book

    h3 The books which are in our current catalog
    table.table.table-striped.table-hover
        th Author
        th Book title
        each book, index in bookList
            tr
                td #{book.Author}
                td #{book.Title}