extend layout

block content
    div#chat
        div.row
            div.welcome.top-buffer
            div.top-buffer#setYourName
                label(for="name", autocomplete="off") Enter your chat name
                    div.input-group
                        input#name.form-control(name="name", type="text")
                        span.input-group-btn
                            button#setName.btn.btn-default(type="button") Set Name
        div#chatbox
        div.input-group
            input#message(type="text", autocomplete="off").form-control
            span.input-group-btn
                button#sendMessage(type="button").btn.btn-default Send
        p.user-typing

    script(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/chat.js")