link(src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
link(src="/javascripts/script.js")

div#footer.col-md-12
    div.col-xs-6
        p Book Shop
    div.col-xs-6
        p.pull-right &copy; Luke Cahill