extends layout

block content
  h1= title
  h3 Welcome to #{title}

  p This is used as a sample site for NodeJs with the use of Jade. This site will not be anything special, but just a testing ground for these technologies. 
