doctype html
html
  head
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0 user-scalable=no")
    
    title= title
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar-inverse.navbar-default
      div.navbar-header
        button.navbar-toggle.collapsed(data-toggle="collapse", type="button")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="/") Echo Music

      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/albums") Albums
          li
            a(href="/artists") Artists
          li
            a(href="/about") About

    div.col-md-1
    div.container-fluid.col-md-10
      block content
    div.col-md-1

    include footer