extends layout

block content
    h1 Register 
    form(action="/newRegistration", method="POST")
        div.form-group
            label(for="username") Name
            input.form-control#username(name="username", type="text")
            
            label(for="password") Password
            input.form-control#password(name="password", type="password")

            label(for="password") Confirm Password
            input.form-control#confirm_password(name="confirm_password", type="password")
        button.btn.btn-primary Register