#footer {
    margin-top: 2%;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;

    div {
      margin-top: 1%;
    }
}

#chat {

    #chatbox {
        margin: 0 auto;
        margin-bottom: 25px;
        margin-top: 3%;
        border: 1px solid #ccc;
        background: #fff;
        height: 300px;
        width: 75%;
        padding: 3%;
        overflow-y: scroll;
        max-height: 300px;
        border-radius: 6px;
        padding-bottom: 4px;
    }

    hr {
        margin: 0px;
    }

    .top-buffer {
        margin-top: 2%; 
    }

    .sender {
        color: #ff0000;
    }
}