#footer {
  margin-top: 2%;
  border-top: 1px solid #ddd; }
  #footer div {
    margin-top: 1%; }

#chat #chatbox {
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 3%;
  border: 1px solid #ccc;
  background: #fff;
  height: 300px;
  width: 75%;
  padding: 3%;
  overflow-y: scroll;
  max-height: 300px; }

#chat .sender {
  color: #ff0000; }
